<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NMIMS</title>
</head>
<body>
    <h1 style="text-align:center">NMIMS</h1>
    <br>
    <ul style="font-size:30px">COLLEGE DESCRIPTION</ul>
    <li style="font-size:30px">    Mission<p>In keeping with the university’s mission to provide good quality socially sensitive human resources to the nation, the mission of NMIMS, Indore is to be an institution of excellence for learning & collaborative research in Management with a deep commitment to people.</p></li>
    <li style="font-size:30px">VISION<p>In order to attain the stated mission, the campus has identified certain niche disciplines in the field of management to excel in and accordingly the stated vision is to inculcate the ‘learner centric’ approach in management education.
Objectives of SVKM’s NMIMS - Indore

Realisation of the vision revolves around the following goals:
Emerging as a ‘Go to’ campus for Executive Education in the country
Establishing Centres of Excellence in Business Analytics, Technology Management, and Infrastructure Management.
Establishing School of Commerce, Science, Law, Economics, Engineering and Pharmacy.
Establishing conducive research environment and fostering collaborative research with industry, government and NGOs.</p></li>
<br>
<ul style="font-size:30px">COURSES OFFERED</ul>
<li>B. Tech</li>
<li>MBA (Tech.)</li>
<li>Master of Business Administration</li>
<li>B.A. L.L.B. / B.B.A. L.L.B.</li>
<li>B.B.A.</li>
<li>B.Com (Hons.)</li>
</body>
</html>